<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="nav-main-row-grid">
        <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a19-68993a17" class="nav-column-1-grid"><a href="/"
                class="brand-grid w-nav-brand">
                <div class="brand-logo-block"><img
                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f05e1b9e1160a4478ae6_holiday_village_white_24dp.svg"
                        loading="lazy" alt="" class="logo-image" />
                    <p class="brand-name">Silber</p>
                </div>
                <div class="brand-slogan-block">
                    <div class="brand-divider-2"></div>
                    <p class="brand-slogan">Construction<br />template</p>
                </div>
            </a></div>
        <nav role="navigation" id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a25-68993a17"
            class="nav-menu-grid w-nav-menu">
            <div data-hover="true" data-delay="400" class="dropdown-link w-dropdown">
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <p class="menu-link-title">Template</p>
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <div class="dropdown-row-1">
                        <div class="container">
                            <div class="dropdown-title-block">
                                <div id="w-node-_07879fce-d668-e76b-9595-af5c70e38cc5-68993a17">
                                    <p class="menu-dropdown-title is-template">Template&#x27;s pages</p>
                                </div>
                                <div id="w-node-fc81a7d6-1935-944e-eef7-1d4c0a14cd52-68993a17" class="dropdown-buttons">
                                    <a href="https://webflow.com/templates/designers/metrik" target="_blank"
                                        class="text-link is-other-templates">Other templates</a><a
                                        id="w-node-_520c71c3-b722-1209-93ba-d81f184e9299-68993a17"
                                        href="https://webflow.com/templates/html/siber-construction-website-template"
                                        target="_blank" class="main-button in-dropdown w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Purchase template</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="menu-links-wrap">
                            <div class="w-layout-grid template-grid">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a3c-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Home pages</p><a href="/"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Home 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/home-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Home 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/home-3" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Home 3</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a42-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Solution pages</p><a href="/solutions-1"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Solutions 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/solutions-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Solutions 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/solutions-3" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Solutions 3</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a48-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Service pages</p><a href="/services-1"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Services 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/services-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Services 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/services-3" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Services 3</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a4e-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Project pages</p><a href="/projects-1"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Projects 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/projects-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Projects 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/projects-3" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Projects 3</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a54-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">CMS pages</p><a href="/solution/construction"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Solution</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/service/property-refurbishment"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Service</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/project/modern-loft-renovation"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Project</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/testimonial/testimonial-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Testimonial</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/socials/instagram" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Social Page</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/term/sample-page" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">CMS Term Sample page</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a5d-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">About pages</p><a href="/contact-1"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Contact 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/contact-2" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Contact 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/company-1" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Company 1</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/company-2" aria-current="page"
                                        class="service-cms-link w-inline-block w--current">
                                        <p class="service-cms-title">Company 2</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/testimonials" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Testimonials</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/brands" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Brands</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a63-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Other pages</p><a href="/gallery"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Gallery</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/term/instruction" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Instructions</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/utility-pages/style-guide" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Style guide</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/blank-page" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Blank Page</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/utility-pages/symbols" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Symbols</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                                <div id="w-node-_52e5633b-62d6-d471-b9bf-2e09bc2e1740-68993a17"
                                    class="template-links-block">
                                    <p class="template-link-title">Utility pages</p><a href="/404" target="_blank"
                                        class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">404 page</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a><a href="/401" target="_blank" class="service-cms-link w-inline-block">
                                        <p class="service-cms-title">Password page</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                            loading="lazy" alt="" class="service-cms-icon" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div data-hover="true" data-delay="400" class="dropdown-link w-dropdown">
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <p class="menu-link-title">Services</p>
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <div class="container">
                        <div class="menu-solutions">
                            <div class="dropdown-title-block-2 with-border">
                                <p class="menu-dropdown-title">Solutions</p><a href="/solutions-1"
                                    class="text-link">More about solutions</a>
                            </div>
                            <div class="solutions w-dyn-list">
                                <div role="list" class="solutions-menu-grid w-dyn-items">
                                    <div role="listitem" class="solution-item w-dyn-item"><a
                                            data-w-id="e4da4c37-ee58-167a-cbd7-451e68993a79"
                                            href="/solution/construction"
                                            class="solution-link-block-menu w-inline-block">
                                            <div class="solution-block in-menu">
                                                <p class="solution-menu-title-1">Construction</p>
                                                <div class="solution-more-wrap-menu"><img
                                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                        loading="lazy" alt="" class="solution-icon" />
                                                    <p class="solution-more-menu">more</p>
                                                </div>
                                            </div>
                                            <div class="solution-image"><img
                                                    src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/626701d4b43dd05c344c6ca7_pexels-tima-miroshnichenko-6615028.jpg"
                                                    loading="lazy" alt="Construction" sizes="18vw"
                                                    srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/626701d4b43dd05c344c6ca7_pexels-tima-miroshnichenko-6615028-p-500.jpeg 500w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/626701d4b43dd05c344c6ca7_pexels-tima-miroshnichenko-6615028-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/626701d4b43dd05c344c6ca7_pexels-tima-miroshnichenko-6615028-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/626701d4b43dd05c344c6ca7_pexels-tima-miroshnichenko-6615028.jpg 1920w"
                                                    class="cover-image" /></div>
                                        </a></div>
                                    <div role="listitem" class="solution-item w-dyn-item"><a
                                            data-w-id="e4da4c37-ee58-167a-cbd7-451e68993a79" href="/solution/renovation"
                                            class="solution-link-block-menu w-inline-block">
                                            <div class="solution-block in-menu">
                                                <p class="solution-menu-title-1">Renovation</p>
                                                <div class="solution-more-wrap-menu"><img
                                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                        loading="lazy" alt="" class="solution-icon" />
                                                    <p class="solution-more-menu">more</p>
                                                </div>
                                            </div>
                                            <div class="solution-image"><img
                                                    src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122.jpg"
                                                    loading="lazy" alt="Renovation" sizes="18vw"
                                                    srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122-p-500.jpeg 500w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b31cc301b83c294ca9cf_pexels-max-vakhtbovych-6958122.jpg 1920w"
                                                    class="cover-image" /></div>
                                        </a></div>
                                    <div role="listitem" class="solution-item w-dyn-item"><a
                                            data-w-id="e4da4c37-ee58-167a-cbd7-451e68993a79" href="/solution/design"
                                            class="solution-link-block-menu w-inline-block">
                                            <div class="solution-block in-menu">
                                                <p class="solution-menu-title-1">Design</p>
                                                <div class="solution-more-wrap-menu"><img
                                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                        loading="lazy" alt="" class="solution-icon" />
                                                    <p class="solution-more-menu">more</p>
                                                </div>
                                            </div>
                                            <div class="solution-image"><img
                                                    src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788.jpg"
                                                    loading="lazy" alt="Design" sizes="18vw"
                                                    srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788-p-500.jpeg 500w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b30ff5470c67396fded0_pexels-max-vakhtbovych-6758788.jpg 1920w"
                                                    class="cover-image" /></div>
                                        </a></div>
                                    <div role="listitem" class="solution-item w-dyn-item"><a
                                            data-w-id="e4da4c37-ee58-167a-cbd7-451e68993a79" href="/solution/exterior"
                                            class="solution-link-block-menu w-inline-block">
                                            <div class="solution-block in-menu">
                                                <p class="solution-menu-title-1">Exterior</p>
                                                <div class="solution-more-wrap-menu"><img
                                                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                                        loading="lazy" alt="" class="solution-icon" />
                                                    <p class="solution-more-menu">more</p>
                                                </div>
                                            </div>
                                            <div class="solution-image"><img
                                                    src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313.jpg"
                                                    loading="lazy" alt="Exterior" sizes="18vw"
                                                    srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313-p-500.jpeg 500w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/6255b7bcf6b3861084149c6b_pexels-max-vakhtbovych-8082313.jpg 1920w"
                                                    class="cover-image" /></div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-services">
                            <div class="dropdown-title-block-2 with-border">
                                <p class="menu-dropdown-title">Services</p><a href="/services-1" class="text-link">More
                                    about services</a>
                            </div>
                            <div class="service-cms w-dyn-list">
                                <div role="list" class="service-cms-list w-dyn-items">
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/renovation" class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Renovation</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/extension" class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Extension</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/conversion" class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Conversion</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/property-maintenance"
                                            class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Maintenance</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/property-refurbishment"
                                            class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Refurbishment</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                    <div role="listitem" class="service-cms-item w-dyn-item"><a
                                            href="/service/interior-design" class="service-cms-link w-inline-block">
                                            <p class="service-cms-title">Interior design</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6256816300672a60b4c5c6e3_blue-arrow-right.svg"
                                                loading="lazy" alt="" class="service-cms-icon" />
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div data-hover="true" data-delay="400" class="dropdown-link w-dropdown">
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <p class="menu-link-title">Projects</p>
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <div class="container">
                        <div class="menu-links-wrap">
                            <div class="projects-menu-grid">
                                <p class="menu-dropdown-title is-projects-title">Our realized projects</p>
                                <p id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a9f-68993a17"
                                    class="contact-menu-grid-subtitle">Your home could be a piece of art that is
                                    remembered in this city throughout time.</p><a
                                    id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aa1-68993a17" href="/projects-1"
                                    class="main-button in-dropdown w-inline-block">
                                    <div class="button-inner">
                                        <p class="button-title">All projects</p><img
                                            src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                                            loading="lazy" alt="" class="button-icon" />
                                    </div>
                                    <div class="button-pattern"></div>
                                </a>
                            </div>
                            <div class="projects-menu w-dyn-list">
                                <div role="list" class="projects-menu-list w-dyn-items">
                                    <div role="listitem" class="project-menu-item w-dyn-item"><a
                                            href="/project/luxury-house-renovation"
                                            class="project-menu-link-block w-inline-block">
                                            <div class="project-link-2">
                                                <p class="project-name">Luxury house renovation</p><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1737c7adcc47e4c293c_east_black_24dp.svg"
                                                    loading="lazy" alt="" class="project-icon" />
                                            </div>
                                            <div data-w-id="e4da4c37-ee58-167a-cbd7-451e68993ab4"
                                                class="project-menu-gradient-bg"></div>
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"><img
                                                        src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213.jpg"
                                                        loading="lazy" alt="Luxury house renovation" sizes="45vw"
                                                        srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545e9d59e6100b9689423f_pexels-max-vakhtbovych-7546213.jpg 1920w"
                                                        class="cover-image" /></div>
                                            </div>
                                        </a></div>
                                    <div role="listitem" class="project-menu-item w-dyn-item"><a
                                            href="/project/modern-loft-renovation"
                                            class="project-menu-link-block w-inline-block">
                                            <div class="project-link-2">
                                                <p class="project-name">Modern loft renovation</p><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1737c7adcc47e4c293c_east_black_24dp.svg"
                                                    loading="lazy" alt="" class="project-icon" />
                                            </div>
                                            <div data-w-id="e4da4c37-ee58-167a-cbd7-451e68993ab4"
                                                class="project-menu-gradient-bg"></div>
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"><img
                                                        src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545ea71cd54c019ccc6f70_pexels-max-vakhtbovych-7545495.jpg"
                                                        loading="lazy" alt="Modern loft renovation" sizes="45vw"
                                                        srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545ea71cd54c019ccc6f70_pexels-max-vakhtbovych-7545495-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545ea71cd54c019ccc6f70_pexels-max-vakhtbovych-7545495-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545ea71cd54c019ccc6f70_pexels-max-vakhtbovych-7545495-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545ea71cd54c019ccc6f70_pexels-max-vakhtbovych-7545495.jpg 1920w"
                                                        class="cover-image" /></div>
                                            </div>
                                        </a></div>
                                    <div role="listitem" class="project-menu-item w-dyn-item"><a
                                            href="/project/kitchen-conversion"
                                            class="project-menu-link-block w-inline-block">
                                            <div class="project-link-2">
                                                <p class="project-name">Kitchen conversion</p><img
                                                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1737c7adcc47e4c293c_east_black_24dp.svg"
                                                    loading="lazy" alt="" class="project-icon" />
                                            </div>
                                            <div data-w-id="e4da4c37-ee58-167a-cbd7-451e68993ab4"
                                                class="project-menu-gradient-bg"></div>
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"><img
                                                        src="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545eaf6346751d294aff22_pexels-max-vakhtbovych-7045917.jpg"
                                                        loading="lazy" alt="Kitchen conversion" sizes="45vw"
                                                        srcset="https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545eaf6346751d294aff22_pexels-max-vakhtbovych-7045917-p-800.jpeg 800w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545eaf6346751d294aff22_pexels-max-vakhtbovych-7045917-p-1080.jpeg 1080w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545eaf6346751d294aff22_pexels-max-vakhtbovych-7045917-p-1600.jpeg 1600w, https://assets.website-files.com/6252f3c395e36c6da2794a2c/62545eaf6346751d294aff22_pexels-max-vakhtbovych-7045917.jpg 1920w"
                                                        class="cover-image" /></div>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div><a href="/company-1" class="nav-link w-inline-block">
                <p class="menu-link-title">Company</p>
            </a>
        </nav>
        <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993abe-68993a17" class="menu-button-grid w-nav-button">
            <div class="menu-button-inner-grid">
                <div class="nav-text-1">Menu</div>
                <div class="dots-wrap-2">
                    <div class="menu-dot-2"></div>
                    <div class="menu-dot-2"></div>
                    <div class="menu-dot-2"></div>
                </div>
            </div>
        </div>
        <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ac6-68993a17" class="nav-column-2-grid">
            <div data-hover="true" data-delay="400" class="dropdown-link is-contanct-menu-grid w-dropdown">
                <div class="nav-link-contact-grid w-dropdown-toggle">
                    <div class="dots-wrap">
                        <div class="menu-dot"></div>
                        <div class="menu-dot in-middle"></div>
                        <div class="menu-dot"></div>
                    </div>
                    <div class="menu-desktop-title">Menu</div><img
                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c718f7ca900c76c0b_question_answer_white_24dp.svg"
                        loading="lazy" alt="" class="menu-contact-icon" />
                </div>
                <nav class="dropdown-list is-contacts w-dropdown-list">
                    <div class="container">
                        <div class="menu-contacts">
                            <div class="contact-menu-grid">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad4-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Contacts</p>
                                    <p id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad7-68993a17"
                                        class="contact-menu-grid-subtitle">Feel free to cotant us</p>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad9-68993a17" class="menu-buttons"><a
                                        id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ada-68993a17" href="#"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Call us</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c314402a1538f30ff_phone_in_talk_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a><a id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ae0-68993a17" href="#"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Email us</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131bac44e22abdd9e8ce_email_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                            <div class="contact-menu-grid">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ae7-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Office</p>
                                    <p id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aea-68993a17"
                                        class="contact-menu-grid-subtitle">93 Bootham Terrace, Ravenfields 65
                                        0TU</p>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aec-68993a17" class="menu-buttons"><a
                                        id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aed-68993a17" href="/contact-1"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Address</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6255e4c6bc47f1efe042ac1c_north_east_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                            <div class="contact-menu-grid is-last">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993af4-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Availability</p>
                                    <p class="contact-menu-grid-subtitle">We are free to hire!</p>
                                </div>
                                <div class="menu-buttons"><a href="/contact-1"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Inquiry Form</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c718f7ca900c76c0b_question_answer_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div><a href="/contact-1" class="nav-link-inquiry-grid w-inline-block">
                <p class="contact-menu-title">Contact</p><img
                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                    loading="lazy" alt="" class="inquiry-icon" />
            </a>
        </div>
    </div>
</div>