<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="nav-main-row-grid">
        <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a19-68993a17" class="nav-column-1-grid"><a href="/"
                class="brand-grid w-nav-brand">
                <div class="brand-logo-block">{% set logo = header.logo.one() %}
								{% if logo %}
								<img src="{{ logo.url }}" loading="Lazy" alt="logo" >
								
								{% endif %}
                    
                </div>
                
            </a></div>
        <nav role="navigation" id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a25-68993a17"
            class="nav-menu-grid w-nav-menu">
             <div   >
                <div class="nav-link" >
                    <a href="/"> <p class="menu-link-title">Home</p></a>
                    
                </div>
               
            </div>
            <div >
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <a href="/about_us" >
                        <p class="menu-link-title">About us</p>
                    </a>
                    
                </div>
               
            </div>
             <div >
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <a href="/projects" >
                        <p class="menu-link-title">Projects</p>
                    </a> 
                </div>
            </div>
              <div >
                <div class="nav-link is-dropdown w-dropdown-toggle">
                    <a href="/services" >
                        <p class="menu-link-title">Services</p>
                    </a> 
                </div>
            </div>
        </nav>
      <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993abe-68993a17" class="menu-button-grid w-nav-button">
            <div class="menu-button-inner-grid">
                <div class="nav-text-1">Menu</div>
                <div class="dots-wrap-2">
                    <div class="menu-dot-2"></div>
                    <div class="menu-dot-2"></div>
                    <div class="menu-dot-2"></div>
                </div>
            </div>
        </div> 
        <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ac6-68993a17" class="nav-column-2-grid">
             <div data-hover="true" data-delay="400" class="dropdown-link is-contanct-menu-grid w-dropdown">
                <div class="nav-link-contact-grid w-dropdown-toggle">
                    <div class="dots-wrap">
                        <div class="menu-dot"></div>
                        <div class="menu-dot in-middle"></div>
                        <div class="menu-dot"></div>
                    </div>
                    <div class="menu-desktop-title">Menu</div><img
                        src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c718f7ca900c76c0b_question_answer_white_24dp.svg"
                        loading="lazy" alt="" class="menu-contact-icon" />
                </div>  
           <nav class="dropdown-list is-contacts w-dropdown-list">
                    <div class="container">
                        <div class="menu-contacts">
                            <div class="contact-menu-grid">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad4-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Contacts</p>
                                    <p id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad7-68993a17"
                                        class="contact-menu-grid-subtitle">Feel free to cotant us</p>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ad9-68993a17" class="menu-buttons"><a
                                        id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ada-68993a17" href="#"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Call us</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c314402a1538f30ff_phone_in_talk_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a><a id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ae0-68993a17" href="#"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Email us</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131bac44e22abdd9e8ce_email_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                            <div class="contact-menu-grid">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993ae7-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Office</p>
                                    <p id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aea-68993a17"
                                        class="contact-menu-grid-subtitle">93 Bootham Terrace, Ravenfields 65
                                        0TU</p>
                                </div>
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aec-68993a17" class="menu-buttons"><a
                                        id="w-node-e4da4c37-ee58-167a-cbd7-451e68993aed-68993a17" href="/contact-1"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Address</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6255e4c6bc47f1efe042ac1c_north_east_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                            <div class="contact-menu-grid is-last">
                                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993af4-68993a17"
                                    class="contact-menu-grid-item">
                                    <p class="menu-dropdown-title is-contant-title">Availability</p>
                                    <p class="contact-menu-grid-subtitle">We are free to hire!</p>
                                </div>
                                <div class="menu-buttons"><a href="/contact-1"
                                        class="main-button is-contact-menu w-inline-block">
                                        <div class="button-inner">
                                            <p class="button-title">Inquiry Form</p><img
                                                src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6258131c718f7ca900c76c0b_question_answer_white_24dp.svg"
                                                loading="lazy" alt="" class="button-icon" />
                                        </div>
                                        <div class="button-pattern"></div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </nav> 
            </div><a href="/contact" class="nav-link-inquiry-grid w-inline-block">
                <p class="contact-menu-title">Contact</p><img
                    src="https://assets.website-files.com/625295532800cfe2dd8d3dd2/6252f1730653975c82d4a73c_east_white_24dp.svg"
                    loading="lazy" alt="" class="inquiry-icon" />
            </a>
        </div>
    </div>
</div>