 data-wf-page="62611b520db44c43f5f9ca47"
    data-wf-site="625295532800cfe2dd8d3dd2"

    <!DOCTYPE html>
<html data-wf-page="62611b520db44c43f5f9ca47"
    data-wf-site="625295532800cfe2dd8d3dd2">
	<head>
		<title>
			{% if title is defined %}
				{{ entry.title }}
			{% endif %}
			{{ siteName }}</title>
		<!-- META -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--::::: FABICON ICON :::::::-->
		{% set favicon = header.favicon.one() %}
		{% if favicon %}
			<link rel="icon" href="{{ favicon.url }}">
		{% endif %}
		<!--::::: ALL CSS FILES :::::::-->
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="Webflow" name="generator"/>
		<link href="{{siteUrl}}style.css" rel="stylesheet" type="text/css"/>
		<style>
			@media(min-width:992px) {
				html.w-mod-js:not(.w-mod-ix) [data-w-id="25948a56-9020-051b-6f8e-553087890c34"] {
					-webkit-transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					-moz-transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					-ms-transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					display: block;
				}

				html.w-mod-js:not(.w-mod-ix) [data-w-id="1123e7cd-6058-a9e7-30f6-f4c03a293e8e"] {
					-webkit-transform: translate3d(-1em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					-moz-transform: translate3d(-1em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					-ms-transform: translate3d(-1em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					transform: translate3d(-1em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
					opacity: 0;
				}
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
		<script type="text/javascript">
			WebFont.load({
                google: {
                families: ["Barlow:100,200,300,regular,italic,500,600,700,800:latin,latin-ext"]
                }
                });
		</script>


	</head>
</html>
